*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.insumos-icon img {
  width: 30px; /* Establece el ancho máximo de la imagen */
  vertical-align: middle; /* Alinea la imagen verticalmente */
}

/* Efecto hover para el fondo del menú */
.link-parent a:hover {
  background-color: #df7272; /* Cambia el color de fondo al hacer hover */
  border-radius: 12px 15px; /* Agrega un border-radius al hacer hover */
}

/* Efecto hover para el texto */
.link-parent a:hover,
.link-parent a:hover span {
  color: white; /* Cambia el color del texto al hacer hover */
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}


hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

::-moz-focusring {
  outline: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.link-parent {
  display: grid;
  cursor: pointer;
  grid-template-rows: max-content 0fr;
  overflow: hidden;
  transition: grid-template-rows 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-child {
  display: grid;
  overflow: hidden;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.min-h-\[400px\] {
  min-height: 400px;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.items-center {
  align-items: center;
}

.gap-3 {
  gap: 0.75rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-r-xl {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.border-l {
  border-left-width: 1px;
}

.border-gray-700 {
  border-color: rgb(55 65 81 / 1);
}

.bg-bg-project {
  background-color: rgb(234 235 239 / 1);
}

.bg-white {
  background-color: rgb(255 255 255 / 1);
}

.p-4 {
  padding: 1rem;
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.font-poppins {
  font-family: Poppins, sans-serif;
}

.transition-transform {
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:bg-hover-elements:hover {
  background-color: rgb(246 248 250 / 1);
}

.data-\[toggle\]\:grid-rows-\[max-content_1fr\][data-toggle] {
  grid-template-rows: max-content 1fr;
}

[data-toggle]  [data-row] {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
